<td @onclick="() => OnClick.InvokeAsync(Index)" class="cell @CssClass">@Value</td>


@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public EventCallback<int> OnClick { get; set; }

    [Parameter]
    public int Index { get; set; }
}
